# Dependencies
node_modules
.pnpm-debug.log*

# Build output
dist
*.local

# Environment files
.env
.env.local

# Vercel
.vercel

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Debug files
debug-character-sheet.html
beforePDF.png

# Logs
*.log
npm-debug.log*

# Build outputs
api/*.js